@import url('/lib/animate/animate.min.css');
@import url('/lib/owlcarousel/assets/owl.carousel.min.css');
@import url('/lib/lightbox/css/lightbox.min.css');
@import url('/css/bootstrap.min.css');
@import url('/css/style.css');



/* pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.paginationBtn {
    background-color: #E9E9E9;
    border: none;
    color: black;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}
.paginationBtn:hover {
    background-color: #ddd;
}
.paginationBtn.activePagination {
    background-color: #007bff;
    color: #fff;
}
.paginationText{
    margin: 12px 6px 0 0;
    font-weight: bold;
    color: #0B5ED7
}

.pointer{
cursor: pointer;
}
.custom-form-select{
    border-radius: 4px;
    padding: 4px 40px;
}
